/*
Colors used:
Primary Color (Light black): #2B2B2B;
Secondary Color (Black): #00000;
Light grey: #F0F0F0;
Purple: #5D30BF;
Light purple: #9A8DF2;
Light blue: #0CC8F2;
Cyan: #13DCF2;
Mustard yellow: #F2D06B;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
  font-family: 'League Spartan', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #2b2b2b;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

h4 {
  font-size: 1.15em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #5d30bf;
}

a:visited {
  color: #5d30bf;
}

a:hover,
a:focus {
  color: #994c30;
  text-decoration: none;
}

a:active {
  color: #994c30;
}

a.button {
  display: inline-block;
  background-color: #7361ed;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #7262de;
  transition: 0.5s opacity;
}

a.button:hover {
  opacity: 0.9;
  color: #fff;
}

a.button.contact {
  background-color: transparent;
  color: #513dd6;
  text-transform: uppercase;
  border: 2px solid #9a8df2;
}

.button.contact:hover {
  background-color: #7262de;
  color: #fff;
}

.prototypebut {
  text-align: center;
  font-size: 1.5em;
  padding: 5px;
}

header {
  background-color: #ff44c4;
  padding: 10px;
  margin: 0 auto;
}

/* Layout styling */
.container {
  padding: 0 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 25px 0;
}

.center {
  text-align: center;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle,
.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 30px;
  padding-right: 0px;
  padding-top: 9px;
}

.logo {
  max-width: 100px;
  margin-top: auto;
  margin-bottom: auto;
}

header {
  position: fixed;
  background-color: #f1f1f1;
  padding: 10px 0;
  width: 100%;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(50, 50, 50, 0.46);
  -moz-box-shadow: 0px 3px 7px 0px rgba(50, 50, 50, 0.46);
  box-shadow: 0px 3px 7px 0px rgba(50, 50, 50, 0.46);
}

nav {
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  text-decoration: none;
}

nav>ul>li>a:visited {
  color: #2b2b2b;
}

nav>ul>li>a:hover {
  color: #5d30bf;
}

nav>ul>li>a:active {
  color: #5d30bf;
}

#hero {
  padding: 50px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center;
}

main {
  padding-top: 80px;
}

.plutopaybackground {
  background-image: linear-gradient(to bottom right, #0287ff, #fff);
  padding: 25px 15px;
}

.projectwelcome h1 {
  font-family: 'Kanit', sans-serif;
  color: white;
  margin-top: 0;
}

.projectwelcome p {
  color: white;
  margin: 0;
}

.projectwelcome .row {
  margin: 0px;
}

#contact {
  text-align: center;
}

.competitorlogo {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
}

.lowfid {
  display: flex;
  overflow-x: scroll;
}

.lowfid img {
  padding-right: 3px;
  padding-left: 3px;
}

.phone {
  white-space: nowrap;
}

.active {
  color: #5d30bf !important;
}

.social {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  margin: 0 auto;
}

.social .fa-brands {
  font-size: 1.3em;
  color: #2b2b2b;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 20s cloud-move infinite linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(350px, 48px);
  }
}

.cloud-back {
  animation: 10s cloud-move-reverse infinite linear;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #5d30bf;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 14px;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  body {
    font-size: 20px;
  }

  main {
    padding-top: 93px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
  }

  .work .row .column:last-child {
    padding-left: 1.5em;
  }

  .h3nomargin {
    margin: 0px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .profile img {
    max-width: 300px;
  }

  .profile {
    text-align: center;
  }

  .profilebck {
    background: radial-gradient(#000, #2b2b2b);
  }

  .flex {
    display: flex;
  }

  .projectwelcome .column:first-child {
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
  }

  .projectmockup {
    box-sizing: border-box;
    display: block;
    margin: 0;
  }

  #contact span {
    display: block;
  }

  .projectwelcome .row {
    display: flex;
  }

  .projectwelcome .column {
    display: flex;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .col-lg-5 .row .col-md-6 h3 {
    margin: 0;
  }

  .col-lg-7 p {
    margin-right: 4em;
  }

  .col-lg-5 .col-md-6 .ul {
    padding: 0;
  }

  body {
    font-size: 22px;
  }

  .project h2,
  .project h3,
  .project h4,
  .project ul,
  .project p {
    max-width: 500px;
  }

  .plutopay1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }

  .projectwelcome .col-md-6 {
    font-size: 1.35em;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

}
